{% extends 'base.html' %}

{% block head %}
  <link rel="stylesheet" href="../static/css/shop_homepage.css"/>
{% endblock %}

{% block body %}
  <h3>Current Products</h3>
  {% if products is defined %}
    <ul class=list-group>
      {% for product in products %}
        <span>
          <li class="list-group-item">
            {{ product.name }}
            <div class="delete">
              <a href="{{ url_for('delete_product') }}?pid={{ product.id }}">
                <img src="../static/img/delete-sign.png">
              </a>
            </div>
          </li>
        </span>
      {% endfor %}
    </ul>
  {% endif %}
  <br/>
  <p class="col-12">
    {% if prev_url %}
      <a href="{{ prev_url }}">Previous Page</a>
    {% endif %}
    {% if prev_url and next_url %}
      -
    {% endif %}
    {% if next_url %}
      <a href="{{ next_url }}">Next Page</a>
    {% endif %}
  </p>
  <hr/>
  <div class="container vertical-center shadow contact">
    <h3>Add New Product</h3>
    <div action="" method="POST" class="login-form" enctype="multipart/form-data">
        <div class="form-group"></div>
          {{ form.hidden_tag() }}
          <p>
            {{ form.category.label }}<br/>
            {{ form.category(class="form-control") }}
            {% for error in form.category.errors %}
              <span class="alert alert-danger">{{ error }}</span>
            {% endfor %}
          </p>
          <p>
            {{ form.name.label }}<br/>
            {{ form.name(class="form-control")}}
            {% for error in form.name.errors %}
              <span class="alert alert-danger">{{ error }}</span>
            {% endfor %}
          </p>
          <p>
            {{ form.price.label }}<br/>
            {{ form.price(class="form-control") }}
            {% for error in form.price.errors %}
              <span class="alert alert-danger">{{ error }}</span>
            {% endfor %}
          </p>
          <p>
            {{ form.description.label }}
            {{ form.description(class="form-control")}}
            {% for error in form.description.errors %}
              <span class="alert alert-danger">{{ error }}</span>
            {% endfor %}
          </p>
          <p>
            {{ form.image.label }}<br/>
            {{ form.image }}
            {% for error in form.image.errors %}
              <span class="alert alert-danger">{{ error }}</span>
            {% endfor %}
          </p>
          <p>{{ form.submit(class="btn btn-lg btn-secondary store-button") }}</p>
        </div>
    </form>
  </div>


{% endblock %}